# Игнорировать виртуальное окружение
.venv/
env/
venv/

# Игнорировать временные файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Игнорировать логи и базы данных
*.log
*.sqlite3
*.db
orders.db

# Игнорировать IDE и редакторы
.idea/
.vscode/

# Игнорировать файлы конфигурации
.env
*.env

# Игнорировать тестовые или резервные файлы
*.bak
*.tmp
*.swp

# MacOS и другие системные файлы
.DS_Store